---
 const personalImageAlt = "Lucas Gonzalo Rodríguez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-600 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lucas Gonzalo Rodríguez. Me recibí como <strong
        >Técnico en Programación Informática</strong
      > en la Universidad Nacional de San Martín (UNSAM) en 2025. Actualmente busco una oportunidad laboral como <strong>Desarrollador Full-Stack</strong>.
    </p>

    <p>
      Destaco mis habilidades de <strong
        >trabajo colaborativo y resolución de problemas</strong
      > ante desafíos que pueden ir surgiendo. Tengo capacidad para adaptarme a nuevas tecnologías mientras mantengo buenas prácticas de código y diseño de arquitectura.
    </p>

    <p>
      Cuento con experiencia en <strong
        >Kotlin, Spring Boot, React, TypeScript, PostgreSQL, MongoDB, Redis, Neo4j, entre otros</strong
      >. Tambien tengo conocimientos en habildades blandas como comunicación efectiva, trabajo en equipo y gestión del tiempo. 
    </p>
  </div>

  <img width="200" height="200" src="/lucas-rodriguez-imagen.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-red-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
