---
const personalImageAlt = "Lucas Rodriguez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "./icons/GitHub.astro"
import CurriculumIcon from "./icons/Curriculum.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/Rodriguez Lucas - V2.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/lucasgonzalor03"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Lucas Rodriguez
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Técnico en Programación Informática egresado de la UNSAM (Buenos Aires, Argentina). <strong>Actualmente en búsqueda de mi primer puesto como desarrollador full‑stack, abierto a nuevas experiencias y aprendizajes, con disposición para dominar nuevas tecnologías.</strong> Tengo conocimientos en React.js, Kotlin, PostgreSQL, entre otros. Resido en Buenos Aires, Argentina.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="/#contacto">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/lucasgonzalor03">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/LucasGonzaloR03">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://drive.google.com/file/d/1shZHMgTxjAercWmMvuqC7rfC1dx-1wvv/view?usp=sharing">
      <CurriculumIcon className="size-4" />
      Curriculum
    </SocialPill>
  </nav>
</div>
